* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  background: rgb(135, 182, 222);
  background: linear-gradient(
    90deg,
    rgba(135, 182, 222, 0.9640231092436975) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: white;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

/* Display */
.calculator-display {
  background: rgb(228, 220, 220);
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px 10px 0 0;
}

/* Digit */
#digits {
  font-family: 'wulkan Display';
}

.calculator-display h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-family: 'Wulkan display', sans-serif;
  font-weight: 100;
  overflow-x: auto;
  color: black;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Buttons */
.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

button {
  min-height: 50px;
  font-size: 20px;
  font-weight: 100;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(210, 207, 207);
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translateY(1px);
}

button:focus {
  outline: none;
}

.operator {
  background: grey;
  color: white;
  font-size: 30px;
}

.clear {
  background-color: rgb(252, 62, 62);
  color: white;
}

.clear:hover {
  filter: brightness(90%);
}

.equal-sign {
  grid-column: -2;
  grid-row: 2 / span 4;
  background: rgb(13, 206, 87);
}

/* Media Query: Large Smartphone (vertical) */

@media screen and (max-width: 600px) {
  .calculator {
    width: 80%;
  }
}
